* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    background: url('lap.jpg') no-repeat center center/cover; /* Add background image */
  }
  
  .clock-container {
    background: rgba(52, 73, 94, 0.8); /* Add transparency to the background */
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  #clock {
    color: #ecf0f1;
    font-size: 5vw;
    font-weight: bold;
    letter-spacing: 5px;
  }
  
  @media (max-width: 600px) {
    #clock {
      font-size: 10vw;
    }
  }
  
  